{% extends 'base.html' %}

{% block content %}
<form action="bill_entry/" id="form">
    <div>
        <button type="submit"  class="button" value="ADD A BILL">ADD A BILL</button>
    </div>
</form>
<form action="share_bill/" id="form">
    <div>
        <button type="submit"  class="button" value="SHARE A BILL">SHARE A BILL</button>
    </div>
</form>
<form action="monthly_bill/" id="form">
    <div>
        <button type="submit"  class="button" value="MONTHLY BILL">MONTHLY BILL</button>
    </div>
</form>
{% endblock %}

